---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import HeadingWithUnderline from "@components/HeadingWithUnderline";
import mdComponent from "@components/md/components";

const experience = await getCollection("experience");

// sort by id for latest event to be on top
experience.sort(function (a, b) {
    return -(Number(a.id) - Number(b.id));
});
---

<section class="mb-24">
    <HeadingWithUnderline client:load text="Experiences" />

    <div>
        {
            experience.map(async (event, index) => {
                const { Content } = await render(event);

                return (
                    <div class="flex gap-8 mb-8 items-center">
                        <div class="hidden md:flex w-40 h-40 bg-shironeri rounded-full items-center justify-center shrink-0">
                            <Image
                                src={event.data.image}
                                alt="KEEP"
                                width="128"
                                height="128"
                                class="hidden md:block"
                            />
                        </div>
                        <div>
                            <h3 class="text-2xl font-semibold mb-1">
                                {event.data.title}
                            </h3>
                            <p class="text-xl italic mb-4">
                                {event.data.location} &#x2015;
                                {event.data.duration}
                            </p>
                            <div class="md">
                                <Content components={mdComponent} />
                            </div>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>
